<!--
<div class="embed-responsive embed-responsive-16by9">
<video  autoplay muted loop poster="../../assets/poster.png" class="wrapper-content margem_topo_fixo">
	<source src="../../assets/video_content_mp4.m4v" type="video/mp4">
</video>
</div> -->

<div class="container wrapper-content">
  <div class="">
    <div class="card box-tile border-success">
      <div class="card-header bg-success text-center">
        Mais uma novidade!
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title text-center">Titulo novidade</h5> -->
        <h1>
          <span class="tag">#</span>
          <span class="typing-element"></span>
        </h1>
      </div>

      <div class="card-footer text-center">
        <button
          type="button"
          routerLink="/personalizar-caneca-porcelana"
          class="btn btn-success"
        >
          Visualizar modelos prontos!
        </button>
      </div>
    </div>
  </div>
  <div class="bg_img mr-auto">
    <section class="container_content">
      <div id="carousel">
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          class="aba"
          [ngStyle]="{ 'background-image': 'url(' + local_aba + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure></figure>

        <figure
          class="aba"
          [ngStyle]="{ 'background-image': 'url(' + local_aba + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>

        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>

        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>

        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>
        <figure
          [ngStyle]="{ 'background-image': 'url(' + local + ')' }"
        ></figure>

        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 7 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 8 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 9 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure> aba -->
        <!-- <figure>1</figure> 1 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 2 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 3 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 4 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 5 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 6 -->
        <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"> </figure> aba -->
      </div>
    </section>
  </div>
</div>

<div class="container">
  <br />
  <form #busca="ngForm" (ngSubmit)="onClickSubmitSearch(busca.value)">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        ngModel
        name="campo_busca"
        placeholder="Pesquisar por todo o site..."
      />
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Buscar !</button>
      </span>
    </div>
    <!-- /input-group -->
  </form>

  <div *ngFor="let categoria of categorias" class="row">
    <div class="col-sm-12">
      <div class="titulo_categoria_index clearfix">
        <a
          (click)="setTitle('THE Brindes - ' + categoria.name)"
          routerLink="/categoria/{{ categoria.slug }}"
          class="float-left nome_categoria"
        >
          {{ categoria.name }}
        </a>

        <a
          (click)="setTitle('THE Brindes - ' + categoria.name)"
          routerLink="/categoria/{{ categoria.slug }}"
          class="float-right nome_categoria"
        >
          Ver mais
        </a>
      </div>
      <hr />
      <div class="row">
        <div *ngFor="let brinde of brindes" class="list-items">
          <a
            (click)="setTitle('THE Brindes - ' + brinde.name)"
            routerLink="/brindes/{{ categoria.slug }}/{{ brinde.slug }}"
            *ngIf="brinde.categoria == categoria.id && brinde.is_active == true"
          >
            <div class="produto text-center">
              <div class="img">
                <img
                  class="img-fluid"
                  width="350"
                  src="{{ brinde.image }}"
                  alt="{{ brinde.name }}"
                />
              </div>
              <div class="titulo">{{ brinde.name }}</div>
              <div class="subtitulo">{{ brinde.subname }}</div>
              <div class="botao">
                <a
                  routerLink="/brindes/{{ categoria.slug }}/{{ brinde.slug }}"
                  class="btn btn-success"
                  >Fazer orçamento</a
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
