<!-- Rodade -->
<footer>
            
  <div class="container">
      <div class="row container_footer">
              <div class="col col-lg-4 footer_box">
                  <div class="footer_atendimento sub_footer_box text-center">
                      <h3>Atendimento</h3>
                      <p class="text-center"><span class="titulo">Whatsapp - (86) 99436-7255<br />(86) 3221-0215</span>
                      <br />
                      <span class="descricao">Para comprar ou tirar dúvidas sobre produtos e preços, é só ligar. 
                          Segunda até Sexta das 8h às 18hs.</span></p>

                      <p class="text-center"><span class="titulo">MSN/SKYPE teresinabrindes@hotmail.com</span>
                      <br />
                      <span class="descricao">Estamos online de segunda a sexta das 9h às 18h, basta nos adicionar.</span></p>

                      <p class="text-center"><span class="titulo">contato@teresinabrindes.com.br</span>
                      <br />
                      <span class="descricao">Para clientes de Internet</span></p>


                  </div>
              </div>
              <div class="col col-lg-8 footer_box">
                  <div class="footer_redes_sociais sub_footer_box text-center">
                      <h3>Redes Sociais</h3>

                   <div class="fb-page" data-href="https://www.facebook.com/thebrindes/" data-tabs="timeline" data-width="600" data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thebrindes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thebrindes/">Teresina Brindes</a></blockquote></div>

                  </div>
              </div>
          
          
      </div>
      <div class="col-lg-12 texto_footer">
        <p class="text-center">© 2012 - 2019 - THE Brindes - Todos os direitos reservados</p>
        <br>
    </div>
  </div>
  
</footer>