<div class="container">

  <div class="row"> 
         
            
          <div class="col-sm-12">
      
              <ol  class="breadcrumb bg-light">
                      
                  <li class="breadcrumb-item"><a href="">Inicio</a></li>
                  <li class="breadcrumb-item">Emrpesa</li>
              </ol>
      
              <form #busca = "ngForm" (ngSubmit) = "onClickSubmitSearch(busca.value)">
                  <div class="input-group">
                      <input type="text" class="form-control" ngModel name="campo_busca" placeholder="Pesquisar por todo o site...">
                      <span class="input-group-btn">
                      <button class="btn btn-success" type="submit">Buscar !</button>
                      </span>
                  </div><!-- /input-group -->
              </form>
      
      </div>

          <div class="col-sm-12">
              <br>
              <br>
              <h1>A Empresa</h1>

              <hr>
              <br>
              <br>
          </div>
          
          
          
          <div class=" col-sm-6">
              <h3>Quem Somos</h3>
              A THE Brindes é uma empresa de serviços que atua no segmento de brindes personalizados. 
              <br /><br />
              Com profissionalismo e qualidade em seus serviços, está capacitada a fornecer soluções para todas as situações pertinentes a promoções, merchandising, brindes e comunicação. Utilizando equipamentos especificos para desempenhar o papel, desenvolve trabalhos com profissionalismo, prazo e qualidade em todos os serviços oferecidos. 
              <br /> <br />
              Sabemos que a Comunicação Visual deve ser levada a sério e por isso investimos em uma equipe e estrutura que venha a atender nossos clientes e parceiros de forma especial e diferenciada, sempre com qualidade e a melhor relação custo benefício.
              
          </div>
          
          <div class=" col-sm-6">

            <div class="card">
              <div class="card-body">
                <h3>Missao</h3>
                  Ser referência em brindes e prestação de serviços no setor, desenvolvendo um trabalho inovador, com qualidade, respeito, e superando as expectativas dos mais exigentes.
              
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <h3>Visao</h3>
                  Solucionar e realizar todo e qualquer projeto prezando a qualidade, a eficiência e o profissionalismo que o mercado exige e merece.

              </div>
            </div>
          </div>

             
  </div>

</div>