<br><br><br><br><br>
<div class="col-sm-12 col-md-5">
  <section class="container">
    <div id="carousel">
    
        <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
      <figure class="aba" [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure>
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
      <figure></figure>

      <figure class="aba" [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure>
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
    
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 

      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
      
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
      <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 




      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 7 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 8 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 9 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure> aba -->
      <!-- <figure>1</figure> 1 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 2 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 3 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 4 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 5 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 6 -->
      <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"> </figure> aba -->
    </div>
  </section>
</div>
