
<div class="fundo">

    <div class="row">
        <h4 class="center-align">Clique em uma das nossas artes prontas para visualizar na caneca.</h4>
        </div>

  <div class="row">

     
          

          <div class="col-sm-12 col-md-2">

              


                <span class="list-group" id="list-tab" role="tablist">
                    <!-- <span *ngIf="isFirst">
                        <a class="list-group-item list-group-item-action active" id="list-{{ artecaneca.slug }}-list" data-toggle="list" href="#list-{{ artecaneca.slug }}" role="tab" aria-controls="home">{{ artecaneca.name }}</a>
                    </span> -->
                    <a *ngFor="let categoria of categoriasarte"  (click)=teste(categoria.id)  class="list-group-item list-group-item-action" id="{{ categoria.slug }}-list" data-toggle="list" href="#{{ categoria.slug }}" role="tab">{{ categoria.name }}</a>
              
                    <!-- {{ artescanecas.length }} -->

                    
                </span>

               
              
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="tab-content" id="nav-tabContent">
              <!-- <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <span *ngFor="let artecaneca of artescanecas">
                      <img width="200px" src="{{ artecaneca.image_thumb }}" (click)="local = artecaneca.image"/>
                  </span>
                
              </div> -->
              
                  <img *ngFor="let artecaneca of artescanecasNova" width="200px" src="{{ artecaneca.image_thumb }}" (click)="local = artecaneca.image"/>

                
              
              

            </div>
          </div>

          <div class="col-sm-12 col-md-5">
              <section class="container">
                <div id="carousel">
                
                    <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
                  <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure>
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
                  <figure></figure>

                  <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure>
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
                
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 

                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure>
                  
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 
                  <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 

   


                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 7 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 8 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 9 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"></figure> aba -->
                  <!-- <figure>1</figure> 1 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 2 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 3 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 4 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 5 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local+')' }"></figure> 6 -->
                  <!-- <figure [ngStyle]="{ 'background-image': 'url('+local_aba+')' }"> </figure> aba -->
                </div>
              </section>
            </div>


    
  </div>
  </div>